/* Orders.module.css */

.ordersContainer {
  flex: 1; /* flex-1 */
  height: 100vh; /* h-screen */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.875rem; /* text-sm */
}

.contentWrapper {
  padding: 16px; /* p-4 */
  display: flex;
  flex-direction: column;
  gap: 20px; /* space-y-5 */
}

.heading {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
}

.orderList {
  max-width: 64rem; /* max-w-4xl */
  border-radius: 0.375rem; /* rounded-md */
}

.orderItem {
  display: flex;
  flex-direction: column; /* flex-col */
  gap: 20px; /* gap-5 */
  justify-content: space-between;
  padding: 20px; /* p-5 */
  border-top: 1px solid #d1d5db; /* border-t border-gray-300 */
}

.itemDetails {
  flex: 1; /* flex-1 */
  display: flex;
  gap: 20px; /* gap-5 */
  max-width: 320px; /* max-w-80 */
}

.boxIcon {
  max-width: 64px; /* max-w-16 */
  max-height: 64px; /* max-h-16 */
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 12px; /* gap-3 */
}

.productName {
  font-weight: 500; /* font-medium */
}

.orderAmount {
  font-weight: 500; /* font-medium */
  margin: auto 0; /* my-auto */
}

.orderPaymentInfo {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media (min-width: 768px) {
  /* md */
  .contentWrapper {
    padding: 40px; /* md:p-10 */
  }

  .orderItem {
    flex-direction: row; /* md:flex-row */
  }
}
